.center {
  width: 100%;
  text-align: center;
}

.outline-blurple {
  border-color: #7289DA;
  color: #7289DA;
  background: transparent;
}
.outline-blurple:hover {
  border-color: #7289DA;
  color: #7289DA;
  background: #3f454d;
}

.section {
  height: 550px;
  background: #23272b;
  width: 100%;
}

.card {
  background: transparent;
  border: transparent;
}
.card-body {
  height: 100%;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  align-content: center;
}

.example-image {
  box-shadow: 0 0 10px 1px #000;
}

.align-middle {
  margin: auto;
}

.btn:active {
  background: transparent;
}

.cbtn-blurple {
  background: #7f97ec !important;
  border: 0px;
  border-radius: 2px;
}
.cbtn-blurple:hover {
  background: #94a8f3 !important;
  border: 0px;
}

.cbtn-green {
  background: #77dd77 !important;
  border: 0px;
  border-radius: 2px;
}
.cbtn-green:hover {
  background: #5cbb5c !important;
  border: 0px;
}
.cbtn-dark {
  background: #000000 !important;
  border: 0px;
  border-radius: 2px;
}
.cbtn-dark:hover {
  background: #1d1d1d !important;
  border: 0px;
}

.cbtn {
  justify-content: center;
  -webkit-box-align: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-weight: 400;
}
.cbtn:hover,
.cbtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #1a1a1a;
  transform: translateY(-0.05em);
}
.cbtn.large {
  height: 60px;
  width: 10%;
  width: 300px;
  font-weight: 400;
  font-size: 24px;
}

.cbtn-red {
  background: #f54242;
}
.cbtn-red:hover {
  border: transparent;
  color: #c91b1b;
}

.mt-8, .my-8 {
  margin-top: 10.5rem !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  /* text-shadow: 0 1px 0 #fff; */
  opacity: .5;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #fff;
  background-color: rgb(24 25 28);
  background-clip: padding-box;
  border: 0px;
}

.toast-body {
  background-color: rgb(26 28 30);
}


.card {
  background-color: rgb(26 28 30);
  box-shadow: 0 1em 1em -1em #1a1a1a;
}



.dropdown.full-length {
  width: 100%;
  text-align: left;
  align-items: left;
}
.dropdown-toggle {
  background: #23272A;
  border: 0px;
  text-align: left;
}
.dropdown-toggle:hover {
  background-color: rgb(39, 41, 46);
}
.dropdown-toggle:active {
  background: transparent;
  border: 0;
}

.dropdown-menu {
  width: 100%;
  background-color: #16191b;
  border: 0px;
  box-shadow: #111314 0px 2px 2px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.dropdown-toggle:focus .dropdown-menu {
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.dropdown-item {
  background-color: transparent;
  color: #fff;
  outline: none;
  padding: 6px 12px;
  font-weight: 300;
}
.dropdown-item:hover {
  color: #fff;
  background-color: rgba(15, 15, 15, 0.1);
}